.player-panel {
    display    : flex;
    align-items: center;

    padding: 10px;
    width: 200px;

    background-color: white;
    opacity         : 0.5;

    border-bottom-left-radius: 10px;
    border-top-left-radius   : 10px;

    transition: 1s all;

    img {
        width        : 50px;
        border-radius: 100%;
        object-fit   : cover;
    }

    span {
        margin-left: 12px;
        font-size  : 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.player-active {
    border          : 1px solid rgb(255, 191, 0);
    border-right    : none;
    background-color: rgb(255, 191, 0, 0.7);
    opacity: 1;
}