<div class="player-panel">
    <app-player *ngFor="let player of game.players; let i = index;" [name]="player" [playerActive]="game.currentPlayer == i "></app-player>
</div>

<div class="game-field">

    <div class="card-stack">

        <!-- stack -->
        <img *ngFor="let c of [1,2,3,4,5]; let i = index;" [ngStyle]="{'right.px': i * 6 - 90 }" class="card"
            src="assets/img/cards/card_cover.png">

        <!-- animated card -->
        <img (click)="takeCard()" class="card top-card" src="assets/img/cards/card_cover.png">

        <!-- played cards -->
        <img *ngFor="let playedCard of game.playedCards; let i = index;" src="assets/img/cards/{{ playedCard }}.png"
            class="card played-card">

        <!-- drawn card -->
        <img *ngIf="game.drawingCard" class="card top-card draw-card" src="assets/img/cards/{{ game.currentCard }}.png">

    </div>

    <button mat-fab color="primary" class="btn-add" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>

</div>

<app-game-cmd class="cmd-card" [card]="game.currentCard"></app-game-cmd>